.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height to center vertically */
    padding: 20px;  /* Optional padding around the container */
  }
  
  .outer-card {
    width: 400;  /* Adjust outer card width */
  }
  
  .inner-card {
    width: 350;     /* Adjust inner card width */
    padding: 10px;    /* Adjust inner card padding */
    margin-top: 16px; /* Add margin for cards after the first one */
  }
  
  .inner-card:first-child {
    margin-top: 0; /* No margin for the first card */
  }