.plusMinusIcon:hover {
  background-color: var(--grey-100);
  cursor: pointer;
}

.wishlistCard .cartIcon svg {
  position: relative;
  right: 1px;
}

.wishlistCard .cartIcon:hover {
  background-color: var(--grey-50);
}
